[2019-07-15 10:40] dgrfactory opened #4 "Linux 上での動作不具合"
### 概要

Linux 環境で SNES SPC700 Player を動作させた場合、以下の不具合を確認しています。

* 24 ビット, 32 ビット出力を行うと、大音量のノイズが発生することがある。
* プレイリストが通常より若干高くなり、ボタンと干渉する。
* SPCPLAY.EXE を置く場所によって、ファイルをドロップしても正常に認識できない場合がある。
* まれにキーボードの操作ができなくなることがある。
* プレイリストからのドラッグ＆ドロップ機能が働かない。
* キーボード ショートカットが本来の動作と異なる場合がある。

----

### Summary

The following problems have been observed when running the SNES SPC700 Player on Linux.

* When 24-bit or

[2019-07-15 10:42] dgrfactory opened #5 "Windows Vista 上での動作不具合"
### 概要

Windows Vista 環境で SNES SPC700 Player を動作させた場合、以下の動作不具合を確認しています。

* サウンドインジケータの描画が遅くなる。

----

### Summary

The following problems have been observed when running the SNES SPC700 Player on Windows Vista.

* Drawing of sound indicator becomes slow.

[2019-07-15 10:46] dgrfactory opened #6 "32,000Hz 以外で一部の曲で実機と極端に異なる音が出力される"
### 概要

サンプリングレートを 32,000 Hz 以外に設定した場合、一部の曲で実機と極端に異なる音が出力されることがあります。
以下の作品で不具合を確認しています。

* 緋王伝 魔物達との誓い
* 蓬莱学園の冒険!!

----

### Summary

When the sampling rate is set to a value other than 32,000 Hz, some songs may output sounds extremely different from those of the actual device.
I have confirmed the problem with the following games.

* Hioden: Mamono-tachi tono Chikai
* Hourai Gakuen no Bouken!

[2019-07-15 10:47] dgrfactory opened #7 "Playlist might be 1 line smaller on English OS"
### Overview
If run SNES SPC700 Player on English OS, playlist might be 1 line smaller.

### Workaround
You can adjust it with LISTHGT option in spcplay.ini file.

[2019-12-05 18:49] pcnorden opened #13 "Adding the -h flag on the spccmd.exe outputs jibberish"
I wanted to check what the spccmd.exe had for commands, so I tried to get help from the program by appending the `-h` flag to the command line.

This makes the program spew gibberish except some characters. From reading the source code I believe the issue lie with the program trying to output Japanese characters into command line which doesn't know how to deal with it.

Attached is a screenshot of

[2019-12-06 11:21] dgrfactory commented on #13
Hi, @pcnorden
Thank you for using my software, and reporting the issue report.

I will take some time to modify the spccmd, so I will put the command sheet translated into English.
Please refer to it.

[code]

[2019-12-08 07:14] dgrfactory commented on #13
PATCH was released, please replace it.
https://github.com/dgrfactory/spcplay/releases/download/2.18.0/spccmd-1.5.1.4212-PATCH.zip

[2019-12-08 09:00] pcnorden commented on #13
Just tried the patch out and it works without flaws. Thanks for updating the program so I could understand it =)

Also huge thanks for providing this excellent program for free to us who likes to listen to spc files =D

[2019-12-08 09:00] #13 closed, assigned to dgrfactory

[2020-10-08 15:17] GodGnilda opened #17 "極端に短い時間を設定して EmuAPU でエミュレーションを実行すると、DSP のエミュレーションが(一部 ?)実行されない。"
# 不具合の内容

極端に短い時間を設定して EmuAPU でエミュレーションを続けると、DSP のエミュレーションが(一部 ?)実行されない。

# 実行環境

Windows 8.1 Update1
SNESAPU v2.18.1

# 再現手順

1. len に SPC700 の命令を一つ分など極端に短い時間を設定し、EmuAPU を連続で実行する。

2. キーオンされて時間が経過しても *Voice::bCur, DSPVoice::envx, DSPVoice::outx の値が変化しない。

# その他

- t64Cnt は増加し続けているので DSP.asm の CatchUp で即 .Done とはならないはず ?

#  画像

<details>
<summary>約 1 秒実行</summary>
<img src="https://user-images.gi

[2020-10-08 15:32] GodGnilda opened #18 "必要最小限の APU サイクルで EmuAPU を利用し SPC700 の命令を一つ分実行すると、GetSPCRegs の PC の値が想定した値と異なる値になる。"
# 不具合の内容

必要最小限の APU サイクルで EmuAPU を利用し SPC700 の命令を一つ分実行すると、GetSPCRegs の PC の値が想定した値と異なる値になる。

# 実行環境

Windows 8.1 Update1
SNESAPU v2.18.1

# 再現手順

1. LoadSPCFile で SPC ファイルを読み込む。

2. GetSPCRegs で PC の値を取得する。

3. PC の指す APU メモリの値を取得し、次の命令の実行に必要な APU サイクル数 [*1] と、実行後の PC の値 [*2] を計算する。

4. EmuAPU (len = [*1]) を実行する。

5. GetSPCRegs で PC の値を取得し、[*2] の値と比較すると異なる値である。

# 回避策

再現手順 4 で EmuAPU (len = [*1]

[2020-10-08 15:36] GodGnilda opened #19 "SNESAPUCallbackProc で直前の命令サイクルぴったりで終了したことにする機能が欲しい。"
# 機能追加要望

SetSPCDbg または SNESAPUCallbackProc に SetSPCDbg の SPC_RETURN の機能と更に SPC700.asm の clkLeft を 0 にするフラグが欲しい。

# 背景

<details>
<summary>SPC700 のステップ実行やブレークポイントを実装すると、想定外の動作のためどうしても避けることができない不具合が発生してしまうのを回避するため。</summary>
SNESAPUCallbackProc (effect = CBE_S700FCH) の戻り値では時間が経過しない。</br>
→ SetSPCDbg (SetSPCDbg= SPC_TRACE | SPC_RETURN) では clkLeft が 0 にならないので、SeekAPU (time = 64000) を実行し 0.5 秒経過後に SPC

[2020-10-08 20:28] exodustx0 opened #20 "Incorrect handling of BRK ($0F) opcode"
When the BRK instruction is encountered, the PC should be pushed, the PSW should be pushed, and the Break flag should be set. However, spcplay will set the Break flag *before* the PSW is pushed, meaning that the PSW pushed to stack (and the PSW restored when RETI is called) has the Break flag set also, resulting in it never being cleared until power is turned off. I'm aware that this is somewhat o

[2020-10-20 11:01] dgrfactory commented on #17
@GodGnilda さん
このたびは不具合をご報告いただきまして、誠にありがとうございます。

本件不具合につきまして、事象の再現ができましたので、 https://github.com/dgrfactory/spcplay/commit/66c065a14a11ce6634ea59d11b32dd4266827d62 で修正いたしました。
修正を含む SNESAPU.DLL を添付いたしますので、どうぞお試しください。

どうぞ、よろしくお願いいたします。

[snesapu-2.18.2.6862-b1.zip](https://github.com/dgrfactory/spcplay/files/5408185/snesapu-2.18.2.6862-b1.zip)

[2020-10-20 11:02] dgrfactory commented on #18
@GodGnilda さん
このたびは不具合をご報告いただきまして、誠にありがとうございます。

本件不具合につきまして、事象の再現ができましたので、 https://github.com/dgrfactory/spcplay/commit/66c065a14a11ce6634ea59d11b32dd4266827d62 で修正いたしました。
修正を含む SNESAPU.DLL を添付いたしますので、どうぞお試しください。

どうぞ、よろしくお願いいたします。

[snesapu-2.18.2.6862-b1.zip](https://github.com/dgrfactory/spcplay/files/5408185/snesapu-2.18.2.6862-b1.zip)

[2020-10-20 11:10] dgrfactory commented on #20
Hi, @Exodustx0 .
Thank you for reporting the issue.
The reported issue has been fixed with revision https://github.com/dgrfactory/spcplay/commit/66c065a14a11ce6634ea59d11b32dd4266827d62 .
Please wait while the package is uploaded to the release page.

The fixed SNESAPP.DLL can be downloaded from the link below.
https://github.com/dgrfactory/spcplay/files/5408185/snesapu-2.18.2.6862-b1.zip

[2020-10-20 12:05] GodGnilda commented on #18
一度の EmuAPU 実行で PC の値が想定した値と同じ値になることを確認いたしました。
ご修正いただきありがとうございます。

[2020-10-20 12:05] #18 closed, assigned to dgrfactory

[2020-10-20 12:41] GodGnilda commented on #17
うっかり修正をせずに命令サイクル未満で 2 回 EmuAPU を実行した場合は Pitch の値が 0x1000 以外の場合は若干小さな値になっていましたが、1 回で命令サイクル分実行した場合は Read,EX,OX の値が SEEKAPU で実行した場合と同じ値になることを確認いたしました。
ご修正いただきありがとうございます。
![実行ファイルを修正後に EmuAPU を 1 秒分実行](https://i.imgur.com/c6n6uN6.png)

[2020-10-20 12:41] #17 closed, assigned to dgrfactory

[2020-10-21 00:18] dgrfactory commented on #19
@GodGnilda さん
このたびは機能追加のご要望をいただき、誠にありがとうございます。

「時間が経過しない」とのことでございますが、こちらはタイマーや t64Cnt が進まないとの解釈でよろしいでしょうか。
戻り値の下位 8bit を 0x02 に変更することで、命令を実行せずに時間を進めることは可能でございますが、この方法は使用できない、もしくは想定されている動作と異なっておりますでしょうか。

「0.5秒経過後」は EmuAPU を 0.5 秒分実行との解釈でよろしいでしょうか。
SetSPCDbg で SPC_TRACE | SPC_RETURN を設定後、SeekAPU(time = 64000) → EmuAPU(length = 0.5sec) → SeekAPU(time = 64000) を行いましたところ、想定通り 2.5 秒後（最初の Seek + EmuAPU

[2020-10-22 17:37] exodustx0 commented on #20
Excellent! BRK now executes as expected. Thanks for your work!

[2020-10-22 17:37] #20 closed, assigned to dgrfactory

[2020-10-23 11:31] GodGnilda commented on #19
@dgrfactory 様
前回は誤解を招く表現などで間違った情報をお伝えしてしまい、申し訳ございません。<br/><br/>

改良版 snesapu.dll の SeekAPU (_fast_ = 0) と SNESAPUCallbackProc (_effect_ = CBE_S700FCH) を利用してステップイン機能を実現しようとしていた頃のことですが、当時は**下位 8bit を 0x01 に変更することでその命令の時間だけタイマーが進まないと勘違い**してはまったことがありました。<br/>
下位 8bit を 0x02 に変更し他場合は命令を実行せずにタイマーを進めることができますが、 NOP の時間ではなく本来実行した場合に必要なサイクル数程度 [`*`1] の時間が経過することを 66c065a にて確認いたしました。本来実行しないはずの命令の分まで時間が経過しますので

[2020-10-23 12:00] GodGnilda opened #21 "SNESAPUCallbackで設定するコールバック関数 effect = CBE_DSPREG の仕様がサイトの説明と異なる。"
# 不具合の内容
SNESAPUCallbackProc で設定するコールバック関数 effect = CBE_DSPREG の仕様が @dgrfactory 様のサイトの説明では

となっていますが、実際はアドレスの範囲チェック前に呼び出されるため 0x80 - 0xFF の値を指定可能になっています。
想定していないアプリは誤動作や異常終了する可能性があります。

![DSP レジスタアドレス 0x80 への書き込み要求](https://user-images.githubusercontent.com/72546447/97001313-21f41a00-1573-11eb-8518-87191b93dfe3.png)

[2020-10-24 12:33] dgrfactory commented on #21
@GodGnilda さん
再度、不具合をご報告いただきまして、誠にありがとうございます。
事象を確認することができましたので、リビジョン https://github.com/dgrfactory/spcplay/commit/983d93e9ea6d56445e5641ad88c7cb3a1973964d にて修正いたしました。

修正内容：
* 0x80 以上の範囲外アドレスが指定された場合、DSP には影響ないことを考慮して、コールバックも行わないように修正。
* アドレスの他、書き換えようとしている DSP 値についても、上位 24bit は 0 クリアする（有効範囲下位 8bit）ように修正。

本修正を含む SNESAPU.DLL は、以下よりダウンロード可能です。
[snesapu-v2.18.2.7141.zip](https://github.com/dgrfactor

[2020-10-24 13:12] dgrfactory commented on #19
@GodGnilda さん
詳細な情報をいただき、誠にありがとうございます。
また、動作検証等でたいへんお手数をおかけしましたこと、申し訳ありませんでした。

本件につきまして、下記の通り認識をいたしました。
内容について齟齬がございましたら、遠慮なくご指摘をお願いいたします。

----

■最終目的
* SPC700 の命令を1つずつ実行する機能（ステップイン）を実装したい
* 1命令実行後は、EmuAPU に指定したサイクル数にかかわらず、1命令分だけサイクルを進めたい

■現状の問題点
* ステップインを実装するにあたって、SNESAPUCallbackProc または SetSPCDbg を使用して実現を試みた
* しかし、どちらを使用しても処理スキップ分のクロック数が clkLeft に加算され続けてしまう
* 結果、SeekAPU を使用した場合、加算された clkLeft

[2020-10-25 08:19] GodGnilda commented on #21
範囲外のアドレスが指定された場合にコールバックが行われないことと、value の上位  24 ビットが 0 クリアされていることを確認いたしました。
![value の上位  24 ビットが 0 クリアされている](https://user-images.githubusercontent.com/72546447/97102094-03626000-16e6-11eb-88c5-6176b512402f.png)

ご修正いただきありがとうございます。

[2020-10-25 08:19] #21 closed, assigned to dgrfactory

[2020-10-26 10:30] GodGnilda commented on #19
@dgrfactory 様<br/>
早速に、ご返信恐れ入ります。<br/>
こちらこそ簡潔にお伝えできず、たいへんお手数をおかけしまして申し訳ありませんでした。<br/>

以前はそのように処理していましたので、まったく問題ございません。<br/><br/>

リビジョン 983d93e , 4d26323 の SeekAPU にて動作を確認いたしましたが、1 命令実行で time に設定した値が増える状態でした。<br/>
更にソースを確認いたしましたところ、私のお願いがおかしいため想定通りの動作と異なる状態になっていると判断いたしました。<br/>
___
<details>
  <summary>仕様 (2,18,1,6862 のソースコードをチェック)</summary>

- APU.asm
	- EmuAPU (void **pBuf*, u32 *len*, u8 *typ

[2020-10-26 11:26] dgrfactory commented on #19
@GodGnilda さん
動作検証、および、修正方法のご提示をいただき、誠にありがとうございます。
とても助かります。

FCH_HALT の場合、 `clkTotal = clkExec - clkLeft - (clkLeft < 0 ? clkLeft : 0)` を行うよう処理を変更いたしました。
[snesapu-v2.18.2.7143.zip](https://github.com/dgrfactory/spcplay/files/5438447/snesapu-v2.18.2.7143.zip)

FCH_HALT 状態で、強制終了やフリーズ等しないことは確認いたしました。
ご希望の動作になっておりますか、たいへんお手数をおかけいたしますが、今一度ご確認いただけますでしょうか。

どうぞ、よろしくお願いいたします。

[2020-10-26 12:13] GodGnilda commented on #19
@dgrfactory 様
たびたび恐れ入りますが、SPCFetch でコールバック関数を呼び出す前に *clkLeft* が正の値であることは保証されるようですので、B は不要ですね。申し訳ありません。

[2020-10-26 12:31] dgrfactory commented on #19
@GodGnilda さん
いえいえ、問題ございません。
確かに clkLeft は命令実行後に減算されますので、コールバックの時点では負にならないことを確認いたしました。

計算式上、すぐに影響があるわけではないようですが、念のため修正版を添付いたします。
[snesapu-v2.18.2.7143-b2.zip](https://github.com/dgrfactory/spcplay/files/5438704/snesapu-v2.18.2.7143-b2.zip)

どうぞ、よろしくお願いいたします。

[2020-10-26 13:56] GodGnilda commented on #19
@dgrfactory 様
最新の修正版で動作を確認いたしました。EmuAPU の画像は len の表示がおかしいですが、修正漏れです。
- EmuAPU で 1 命令ずつ実行 (384 APU サイクル)
![EmuAPU で 1 命令ずつ実行 384](https://user-images.githubusercontent.com/72546447/97180214-215ebc00-17dd-11eb-8b21-ae10b9314308.png)
- SeekAPU と コールバック関数 (effect = CBE_S700FCH) で FCH_HALT を返却することで 1 命令ずつ実行 (384 APU サイクル)
![SeekAPU と コールバック関数 (effect = CBE_S700FCH) で FCH_HALT を返却することで 1 命令ずつ実行 384](htt

[2020-10-26 23:58] dgrfactory commented on #19
@GodGnilda さん
早速のご確認、誠にありがとうございます。
想定通りの動作となっていること、承知いたしました。

本件は元々 HALT 状態にしたにも関わらずタイマーが意図せず進んでしまうことから、不具合扱いといたします。
多大なご協力をいただき、ありがとうございます。

本件、いったんクローズいたしますが、追加依頼事項がございましたらリオープンしていただくか、お手数ですが新しい issue を作成していただきますよう、よろしくお願いいたします。

[2020-10-26 23:58] #19 closed, assigned to dgrfactory

[2020-12-28 09:41] dgrfactory opened #22 "音量が負に設定されている曲でフェードアウト後に音量が0にならない"
### 概要
音量が負に設定されている曲を演奏中、フェードアウトが終了しても、完全に音量が0になりません。

### 発生条件
以下のすべての条件に一致する場合に発生します。
* SNESAPU.DLL v2.18.0 (build 6694) 以上を使用している。
* マスタ音量、エコー音量のいずれかが負に設定されている (疑似サラウンド)。
* 拡張設定で「サラウンド無効」(OPTION_NOSURROUND) が設定されていない。
* SNESAPU のフェードアウト機能を使用する、または、フェードアウト動作を行う曲を演奏する。

### 原因
クリックノイズ防止アルゴリズムの不具合。

### 対応状況
~v2.18.3 以降で対応予定です。~
v2.18.3 (build 7206) で対応しました。
→ https://github.com/dgrfactory/spcplay

[2021-02-08 20:07] KungFuFurby opened #23 "Player stops playing upon FIR coefficient overflowing during playback"
I caught an interesting hardware bug relating to how the echo buffer can be used for an unusual kind of distortion effect that I was exploiting with my own music twice now relating to deliberately overflowing the FIR coefficents with an EDL of zero (and a non-zero EFB, though I made sure to keep it under just enough control to ger the desired effect). I'm don't actually use the player myself due t

[2021-02-09 09:48] dgrfactory commented on #23
Hi, @KungFuFurby
Thank you for reporting the issue.

I checked with an real SPU (SHVC-SOUND unit), those SPCs played normally (even with some noise),
but didn't work with SNES SPC700 Player.

There is probably a bug in the DSP emulation of SNESAPU.
I will investigate the cause, so please wait for a while.

[2021-02-09 13:53] dgrfactory commented on #23
This bug is fixed in 2.18.3 (build 7249).
You can download fixed version from release page.
https://github.com/dgrfactory/spcplay/releases

Note:
"WinterChipXVISPCEntry.spc" still stops playing in 7:42, however, this is normal behavior.
SNES SPC700 Player stops playing to protect your ears and equipment in the event of an unexpected loud volume.
If you want to disable this behavior, lower the volu

[2021-02-09 18:46] KungFuFurby commented on #23
Yeah, I overdid it on the volume at the end at "WinterChipXVISPCEntry.spc", albeit not in a jumpscare-like fashion. Interestingly, in hindsight I figured there was some sort of safety feature anyways that would stop the track, and that the echo would be the cause.

[2021-02-16 19:08] LMPuny opened #24 "tcall reads $FFC0-$FFFF as normal RAM memory regardless of IPL ROM flag"
in spcplay, tcall seems to ignore the r flag at $F1 (r-ba-210) which controls if $FFC0-$FFFF is IPL ROM or normal RAM, always treating it as the latter. this spcplay quirk is apparently not real SNES behaviour.

i stumbled upon this while trying to narrow down the cause of my spc files playing fine on spcplay, but not on anything else (i.e. foobar, and discord bots generating empty mp3 files out o

[2021-02-17 12:38] dgrfactory commented on #24
Hi, @LMPuny
Thank you for reporting the issue.

I looked at the current code, it seems implemented consideration of the R flag of control.
When R flag is on, save values of RAM to extraRAM, so IPL code is copied to RAM address $FFC0-$FFFF.
This makes it appear to refer to IPL ROM when R flag is on.

Maybe this implementation is different from real, it seems to be implemented in this way to speed u

[2021-02-18 12:50] dgrfactory commented on #24
I do not know if it fits your pattern, but I fixed initialization process of SNESAPU which seems to be the cause.
Please download and try the fixed SNESAPU at the link below.
https://github.com/dgrfactory/spcplay/releases/download/2.18.3.7249/snesapu-2.18.3.7258.zip

If not fixed, the cause is currently unknown, I look forward to hearing from you.
Thanks.

[2021-03-14 09:05] dgrfactory commented on #22
Released.
https://github.com/dgrfactory/spcplay/releases/tag/2.18.3.7258

[2021-03-14 09:05] #22 closed, assigned to dgrfactory

[2021-03-14 09:05] dgrfactory commented on #23
Released.
https://github.com/dgrfactory/spcplay/releases/tag/2.18.3.7258

[2021-03-14 09:05] #23 closed, assigned to dgrfactory

[2021-03-14 09:05] dgrfactory commented on #24
Released.
https://github.com/dgrfactory/spcplay/releases/tag/2.18.3.7258

[2021-03-14 09:05] #24 closed, assigned to dgrfactory

[2021-05-04 02:52] VitorVilela7 opened #25 "Latest version seems to break with Asterix soundtrack"
When you load any song from Asterix soundtrack, the note appears to be cut off as soon attack phrase is done. Envelope is cut to 00.

Probably, something is wrong on GAIN emulation.

[2021-05-04 02:53] VitorVilela7 commented on #25
Version is v2.18.3

[2021-05-04 06:12] dgrfactory commented on #25
Hi, @VitorVilela7
Thank you for reporting the issue.

I have confirmed this reported issue, and released a fixed version.
https://github.com/dgrfactory/spcplay/releases/tag/2.18.4.7333

[2021-05-07 01:17] VitorVilela7 commented on #25
It is now working perfectly, thank you for the quick update!

[2021-05-18 17:35] Anas13303 opened #26 "Suggestion: ability to slow down SPCs down to 1% instead of 25% and speed them up to 800% instead of 400%"
The title should be self-explanatory. By adding this useful feature, we might be able to, to say, more precisely catch the values of strong frequency-based effects (such as tremolo and pitch bends) in SPCs for which there's no dedicated engine documentation or tools to extract the MML data from or see if there are very slight tick desyncs which cannot be perceived even when slowed down to 25%. Tha

[2021-05-19 03:33] dgrfactory commented on #26
Hi, @Anas13303
Thank you for your request.

Is the final goal of this request to make a music score?

As you may already know, if you want to store SPC in midi, you can consider using "spc2midi."
This software also recreating a pitch bend.
You will be able to see the detailed pitch changes from midi file you have created.

If you simply want to see the pitch value in real time, I will consider add

[2021-05-19 17:12] Anas13303 commented on #26
Yeah, I simply want to see the pitch and volume values and whatnot in real time.

[2021-05-20 15:21] dgrfactory commented on #26
@Anas13303
Thank you for waiting.
I have added 1%, 5%, 10%, 20%, 500%, 600%,700%, and 800% to "Speed" menu of "Settings", so please try it.
https://github.com/dgrfactory/spcplay/releases/tag/2.18.4.7350

[2021-05-21 12:37] GodGnilda opened #27 "JMP [ABS+X] ($1F) で ABS+X の値が 0xFFFF の場合、ARAM $0000 の値が 0x00 として処理される。"
平素より、大変お世話になっております。
仮に私の計算が正しいとしても、このような命令を実行する可能性はドライバの不具合を除いて 0 であると思われ、修正する必要があるのかどうか疑問なレベルですが、ご報告いたします。

MOVW ($BA) や MOV ($E7) の 16 ビットメモリ読み込みをチェックしましたところ、実効アドレスが $00FF や $01FF の場合はその次のアドレスを上位バイトとして読み込んでいるようですので、JMP ($1F) も $FFFF と $0000 をそれぞれ下位・上位バイトとしたアドレスにジャンプすると予想して命令実行後の PC の値を計算しました。
しかし、APU.asm の [pAPURAM + 0x10000] は InitAPU で 0 に初期化されたまま更新されていません (?) ので、SNESAPU.DLL v2.18.4.7350 の PC

[2021-05-23 10:38] dgrfactory commented on #27
@GodGnilda さん
不具合をご報告いただき、ありがとうございます。

調査しましたところ、不具合を確認できました。
なお、ご指摘の `JMP [labs+X]` (opcode $1F) だけでなく、`labs` を引数として使用している各種命令、および、16bit 演算命令において影響があることが判明いたしました。

まとめますと、以下命令において、動作が変わります。

1. ご指摘のとおり、labs+X = $FFFF となった場合、正しい移動先の 16bit アドレスが取得できません。
原因： 16bit アドレス参照時、下位 $FFFF、上位 $10000 が参照されるため
[code]

2. 下記命令につきましては、オペコードの位置が $FFFE にある場合、labs (16bit 値) を正しく取得できません。
原因： 16bit の引数値を参照時、下位 $FFFF、

[2021-05-25 12:43] GodGnilda commented on #27
@dgrfactory 様

早速に、ご返信恐れ入ります。

この件ですが、
- Visual Studio 2019 がうまく最適化できるようなコードを書けないので、コールバック相当の処理をインラインアセンブリを使用して書き換える予定である (アセンブリであれば下位 8・16 ビットだけ変化させるのは容易であるし、マクロを用意すればインライン関数の実体が残ることもない)。
![20210525_Asm](https://user-images.githubusercontent.com/72546447/119492293-db310180-bd99-11eb-9e8c-a7176b21c1af.png)
- SNESAPU.DLL が _pAPURAM + 0x10000_ の値を参照しないのであれば、処理速度が低下してしまうだけである。
- SPC ファイル読み込み直後など、_pAP

[2021-05-25 13:14] dgrfactory commented on #27
@GodGnilda さん
早速ご確認いただき、ありがとうございます。

先日の返信におきまして、説明が不足しておりました。 申し訳ありません。
上記についてですが、改善版では pAPURAM + 0x10000 の値を参照するようにしております。
（ご要望通り、RAM 参照時の命令において、値取得の直前に pAPURAM + 0x0000 の値を 0x10000 にコピーし、word サイズでの取得時は、L:0xFFFF H:0x0000 に見えるよう対処しております。）

メモリコピーのオーバーヘッドは確かに出ますが、速度低下につきましてはほとんど影響がないものとの認識です。
そのため、エミュレーションの正確性向上にもなりますので、修正を採用させていただきたく存じます。

新たな不具合のご報告、ありがとうございます。
確認させていただきますので、お待ちください。

【追記】
`CALL

[2021-05-26 12:43] GodGnilda commented on #27
@dgrfactory 様

早々にご回答いただき大変恐れ入ります。

承知いたしました。

**値取得の直前に**ですので、SNESAPUCallbackProc (effect = CBE_S700FCH) 実行時は pData の 下位 16bit の値が 0xFFFE または 0xFFFF の場合、addr の値には画像のように _pAPURAM + 0x0000_ は最後にコピーが実行されたときの値、_pAPURAM + 0x0001_ (と _pAPURAM + 0x0002_) は 0 が指定されることを確認いたしました。
![20210526](https://user-images.githubusercontent.com/72546447/119656896-36302a80-be66-11eb-8dcb-33c77514f70f.png)

***

すべてのオペコ

[2021-05-26 15:33] dgrfactory commented on #27
@GodGnilda さん
早速、ご確認いただきまして、ありがとうございます。
また、SNESAPUCallbackProc についても、挙動のご確認・ご報告、感謝いたします。

`CBE_S700FCH` のコールバックについて、マニュアルでは下記通り記載されていることから、
コールバック直前において、`$0000～$0003` の内容を `$10000～$10003` にコピーする対応を行います。

addr | 命令コード (下位 8bit、0x00～0xFF) を含む 4byte
-- | --

Script700 にも同様の問題がございますが、こちらは用途がかなり限定されておりますので、
こちらは制限事項とし、マニュアルに注意書きを追記いたします。
https://dgrfactory.jp/spcplay/script700.html#script_param_list

【

[2021-05-27 13:32] GodGnilda commented on #27
@dgrfactory 様

1. https://github.com/dgrfactory/spcplay/issues/27#issuecomment-846541188 のオペコードが正しく動作することを再確認いたしました。

2. CBE_S700FCH のコールバックで正しい addr の値が指定されることを確認いたしました。

3. LadpX マクロを使用するオペコードは v2.18.4.7350 と同じ動作であることを確認いたしました。
[code]

4. LadpY マクロを使用するオペコードは v2.18.4.7350 と同じ動作であることを確認いたしました。
[code]

ご修正いただきありがとうございます。

[2021-05-27 14:12] dgrfactory commented on #27
@GodGnilda さん
今回もご協力いただきまして、誠にありがとうございます。
また何か動作でおかしい点がございましたら、お気軽にお問合せください。

[2021-05-27 22:24] LucianoTheWindowsFan opened #28 "Volume issue"
I used the latest pre-release build of SPCplay and some songs (such as the Dr. Mario config theme from _Tetris & Dr. Mario_, as well as the title themes from _Extra Innings_ and _Smash Tennis_). This issue was present on older builds and I'm surprised how it wasn't fixed in years.

[2021-05-28 00:01] dgrfactory commented on #28
Hi, @LucianoTheWindowsFan

I compared the sound with actual machine (SHVC-SOUND), but I could not find any clear difference.
Specifically, what kind of problems were there?

If sound stops on the way, the volume may be too high.
In this case, select 100% in "Volume" of "Settings."

[2021-05-28 14:20] LucianoTheWindowsFan commented on #28
I played them at 400% and it won't play. I wish there was an option to disable ear-protection.

[2021-05-28 15:33] dgrfactory commented on #28
@LucianoTheWindowsFan
An option to unprotect exists, although hidden ...
Please see a comment on past issue. https://github.com/dgrfactory/spcplay/issues/23#issuecomment-775953482

[2021-06-03 20:02] BlinxTheWinx opened #29 "3 spcs from Radical Entertainment games crash on the beta release"
League Champs from Brett Hull Hockey, Playoff Standings from Brett Hull Hockey '95 and Sucess! from Speed Racer in My Most Dangerous Adventures crash on the last build of spcplay.

[2021-06-04 10:03] dgrfactory commented on #29
Hi, @BlinxTheWinx
Thank you for reporting the issue.

I checked the bug and released a fixed version.
This issue is due to a previously addressed #25 fix mistake...
https://github.com/dgrfactory/spcplay/releases/tag/2.18.4.7364

[2021-06-14 10:25] GodGnilda opened #30 "[質問] LadpX または LadpY マクロを使用するオペコードのポインタ取得処理について"
先日は 16 ビットデータアクセスの件でご修正いただき、誠にありがとうございます。
#27 の @dgrfactory 様の検証内容に関する質問内容でございますこと心より謝罪申し上げます。

MOVW YA,dp などのオペランドに dp を使用する 16 ビットデータを処理する命令ではダイレクトページを超えないメモリ参照が行われるのを確認いたしましたが、MOV  A,[dp+X] などのポインタ値を取得する命令の場合ポインタ値取得時にダイレクトページを超えるのが正しい処理でよろしいでしょうか。

お手数をおかけしますが、ご回答いただけますと幸いです。

<details>
<summary>他のプロセッサやエミュレータの動作</summary>

1. RP2A03 (d,x) Indexed indirect https://wiki.nesdev.com/w/index.php/CP

[2021-06-14 10:27] GodGnilda opened #31 "SPC700.asm の ResetSPC で ARAM $00E1 の値が 0x80 で上書きされる。"
ResetSPC の **Enable ROM reading** のコメントがある行の命令 _Mov byte [EAX-0Fh],80h_ で ARAM $00E1 の値が 0xFF から 0x80 に上書きされるようです。

#**Timer status is preserved, other bits are reset** のコメントがある行の次の行の命令 _Or byte [EAX+1],80h_ で既に IPL ROM 読み込みフラグがオンに設定されているようです。

[2021-06-15 00:54] dgrfactory commented on #30
@GodGnilda さん
お問い合わせいただき、ありがとうございます。

いいえ、
[dp+X] のポインタは、ダイレクトページの範囲内で（ダイレクトページを超えず）ポインタ処理される想定でございます。
例えば P フラグがオン（dp = $01xx）、`MOV A,[$30+X]` で X = $CF のとき、参照アドレスは `[$0200][$01FF]` ではなく `[$0100][$01FF]` となるのが正しい動作との認識です。

前回同様、ダイレクトページ内の 16bit の取り扱い（今回は LadpX, LadpY マクロ）に問題があるようです。
恐れ入りますが、修正までいましばらくお待ちいただきますよう、お願いいたします。

[2021-06-15 11:42] dgrfactory commented on #30
@GodGnilda さん
このたびは不具合をご報告いただきまして、誠にありがとうございます。
LadpX, LadpY マクロにおいて、16bit アドレス（`[dp+X]` および `[dp]`）の計算中にダイレクトページ境界を超える不具合を確認いたしました。

本不具合は、以下リリースにおいて修正しております。
 たいへんお手数ですが、ご確認いただきますようお願い申し上げます。
https://github.com/dgrfactory/spcplay/releases/tag/2.18.4.7375

[2021-06-15 11:47] dgrfactory commented on #31
@GodGnilda さん
このたびは、不具合をご報告いただきまして、誠にありがとうございます。

以下リリースにおいて修正を行いました。
たいへんお手数ですが、ご確認いただきますようお願い申し上げます。
https://github.com/dgrfactory/spcplay/releases/tag/2.18.4.7375

SNESAPU v3.0 から初期化処理の移植時、古い SNESAPU v2.0 のコードの削除忘れによるものでした。
`Mov byte [EAX-0Fh],80h` は `EAX = $100` であることが前提のコードとなっており、`EAX = $F0` を前提とした新しいコードである `Or byte [EAX+1],80h` と処理の意図が重複するため、古い方のコードを削除いたしました。

[2021-06-15 13:33] GodGnilda commented on #30
@dgrfactory 様

早々にご回答いただき大変恐れ入ります。
ダイレクトページを超えないのが正しい動作なのですね。
https://github.com/dgrfactory/spcplay/issues/27#issuecomment-846541188 の動作変更の一覧にございませんでしたので、ページを超えるのが仕様と勝手な思い込みをいたしまして、大変お手数をおかけしました。深くお詫び申し上げます。
***
最新版を以下のオペコードで動作確認いたしました。
1. LadpX マクロを使用するオペコードが 16 ビットアドレス取得でダイレクトページ境界を超えないことを確認いたしました。
[code]
2. LadpY  マクロを使用するオペコードが 16 ビットアドレス取得でダイレクトページ境界を超えないことを確認いたしました。
[code]

ご修正いただき誠にありがとうござい

[2021-06-15 13:38] GodGnilda commented on #31
@dgrfactory 様

初期化直後の ARAM $00E1 の値が 0xFF であることを確認いたしました。

![20210615_ResetSPC](https://user-images.githubusercontent.com/72546447/122062156-1c14b700-ce2a-11eb-8ce8-0e164082798c.png)

ご修正いただきありがとうございます。

[2021-06-15 13:59] dgrfactory commented on #30
@GodGnilda さん
早速、動作をご確認いただきまして、ありがとうございます。
以前の修正に不備があり、申し訳ありません。

bsnes は各チップの動作をナノ秒単位でエミュレーションしており、
動作に違いがありました場合、bsnes が実機に最も近い挙動かと思われます。
実際、正しく演奏されない事象が確認された場合には、bsnes のソースコードを参照しております。

改めまして、このたびはご報告いただきまして、感謝いたします。
また何かありましたら、どうぞよろしくお願い申し上げます。

[2021-06-15 14:01] dgrfactory commented on #31
@GodGnilda さん
早速ご確認いただきまして、ありがとうございます。
このたびはご迷惑おかけし、申し訳ありません。

[2021-06-18 18:17] HopkinsFBI opened #32 "Initializing application is failed. (ERROR 119)"
When trying to build the spcplay.exe frontend it seems to compile ok but I get the following error every time I run the resulting exe "Initializing application is failed. (ERROR 119)"

Is this related to the version of dcc32 used? Can you share more information on how to set up a working dev environment for this project? You mention Delphi6 UP2 RTL3 in the readme, but I'm not certain where to obta

[2021-06-19 04:18] dgrfactory commented on #32
Hi, @HopkinsFBI
Thank you for reporting the issue.

ERROR 119 is a signature error.
This error occurs if SNES SPC700 Player is not an official release binary.
If you build from source code, there will be no official signature, but you should be able to run by commenting out the signature check.

[code]

[2021-06-19 12:23] GodGnilda opened #33 "SETP ($40) を実行すると PSW の I フラグに 0 が設定される。"
平素より、大変お世話になっております。

SETP ($40) を実行いたしますと、PSW の P フラグに 1 が、更に I フラグに 0 が設定されるのを確認いたしました。

#動作は問題ございませんが、RETI ($7F) の PSW に関するコメントは実際の動作と異なるようです。 (I = 1, 他 = ?)

[2021-06-19 14:55] HopkinsFBI commented on #32
It looks like commenting out that check allows it to get farther, but now I'm getting "Initializing SNESAPU.DLL is failed. (ERROR 103)"

I've got a copy of the SNESAPU.DLL from the latest release in the same directory, so not sure why it is erroring out

[2021-06-19 15:36] dgrfactory commented on #33
@GodGnilda さん
不具合のご報告をいただきまして、誠にありがとうございます。

下記のリリースで修正いたしました。
たいへんお手数をおかけいたしますが、ご確認いただきますようお願い申し上げます。
https://github.com/dgrfactory/spcplay/releases/tag/2.18.4.7379

１．
SETP ($40) 命令において、意図せず I フラグに 0 がセットされる事象を確認いたしました。
こちらは本家 SNESAPU からある不具合の模様で、最新バージョン v3.0 でも修正されておりませんでした。
SNESAPU がなぜこのような動作となっているかは不明ですが、SPC700 仕様書、及び、snes9x・bsnes のソースコードを確認し、I フラグの 0 セットは不要との判断をいたしました。

２．
RETI ($7F) のコメントにお

[2021-06-19 15:46] dgrfactory commented on #32
@HopkinsFBI

ERROR 103 is a SNESAPU.DLL compatibility check error.
Probably, the versions of SPCPLAY.EXE and SNESAPU.DLL do not match exactly.
Please check version numbers of SPCPLAY.EXE and SNESAPU.DLL.

[2021-06-19 16:17] HopkinsFBI commented on #32
Thanks, using the v2.18.3 (build 7258) of the SNESAPU.DLL finally allows the version I compiled to run!

[2021-06-20 05:14] GodGnilda commented on #33
@dgrfactory 様

今回は PSW の復帰時間を短くする方法などを確認していましたところ、偶然発見いたしました。

最新版で SETP を実行しても PSW の I フラグが変化しないことを確認いたしました。
ご修正いただきありがとうございます。

[2021-07-24 16:32] dgrfactory commented on #25
Released.
https://github.com/dgrfactory/spcplay/releases/tag/2.18.4.7379

[2021-07-24 16:32] #25 closed, assigned to dgrfactory

[2021-07-24 16:32] dgrfactory commented on #26
Released.
https://github.com/dgrfactory/spcplay/releases/tag/2.18.4.7379

[2021-07-24 16:32] #26 closed, assigned to dgrfactory

[2021-07-24 16:32] dgrfactory commented on #27
修正版がリリースされました。 クローズします。
https://github.com/dgrfactory/spcplay/releases/tag/2.18.4.7379

[2021-07-24 16:32] #27 closed, assigned to dgrfactory

[2021-07-24 16:32] #28 closed, assigned to nobody

[2021-07-24 16:33] dgrfactory commented on #29
Released.
https://github.com/dgrfactory/spcplay/releases/tag/2.18.4.7379

[2021-07-24 16:33] #29 closed, assigned to dgrfactory

[2021-07-24 16:33] dgrfactory commented on #30
修正版がリリースされました。 クローズします。
https://github.com/dgrfactory/spcplay/releases/tag/2.18.4.7379

[2021-07-24 16:33] #30 closed, assigned to dgrfactory

[2021-07-24 16:33] dgrfactory commented on #31
修正版がリリースされました。 クローズします。
https://github.com/dgrfactory/spcplay/releases/tag/2.18.4.7379

[2021-07-24 16:33] #31 closed, assigned to dgrfactory

[2021-07-24 16:33] dgrfactory commented on #33
修正版がリリースされました。 クローズします。
https://github.com/dgrfactory/spcplay/releases/tag/2.18.4.7379

[2021-07-24 16:33] #33 closed, assigned to dgrfactory

[2021-07-24 16:34] #32 closed, assigned to nobody

[2021-09-15 12:39] GodGnilda opened #34 "機能追加要望 [Script700] サウンドドライバが特定の入力ポートを読み込むまで待機するコマンドが欲しい。"
### 目的
- 転送時間を短くするために、スクリプトで反映させた入力ポートの値をすべて読み込む前に出力ポート o0 に値を書き込むサウンドドライバの待ち時間を短縮したい。
- 初回・2 回目以降で待ち時間が変化する場合でもコマンド一つで解決できるようにしてコード量を削減したい。

### コマンド
`特定のポートを読み込むまで待機 [入力ポート]`

サウンドドライバは bsnes などエミュレータでは正しく演奏されることを確認済です。
ご検討よろしくお願いいたします。

[2021-09-15 12:41] GodGnilda opened #35 "機能追加要望 [Script700] 対応プレイヤーにコールバックを利用してブレークポイントを設定するコマンドが欲しい。"
### 目的
- サウンドドライバのファンクションを利用して演奏に必要なデータを転送した状態のスナップショットを保存するために、Script700 のコマンドで SPC700 の動作を停止させたい。

### スナップショット作成手順
- Script700 でデータをすべて転送する。
- 転送終了時に Script700 のコマンドでプレイヤーのコールバック関数を利用してブレークポイントを設定する。
- SPC700 の動作が停止している状態のスナップショットを保存する。

### コマンド
`ブレークポイント設定コマンド [ブレークポイントを設定するアドレス]`

実行ファイルと違いスクリプトであれば spcplay.exe (と転送用のデータのみ)で実行可能ですので、ハードルが低いかなと…
以上です。ご検討よろしくお願いいたします。
<hr>
コマンドを修正しました。

[2021-09-19 14:17] dgrfactory commented on #34
@GodGnilda さん
平素よりお世話になっております。
ご要望をいただき、誠にありがとうございます。

現在、以下のコマンド体系で実装・試験中です。
今しばらくお待ちくださいませ。

* SPC700 が特定の I/O ポートを読み込むまで待機：
  【構文】 `wi [PORT]`
  【実装例】ポート0の値が読み込まれるまで待機： `wi 0`
  【パラメータ】[パラメータグループ3](https://dgrfactory.jp/spcplay/script700.html#script_param3) から選択

  * 備考
    * `CMP[0]` に待機したサイクル数（2.048MHz ベース）が書き込まれます（[`f` コマンド](https://dgrfactory.jp/spcplay/script700.html#script_flush) と同様）

[2021-09-19 14:18] dgrfactory commented on #35
@GodGnilda さん
平素よりお世話になっております。
ご要望をいただき、誠にありがとうございます。

現在、以下のコマンド体系で実装・試験中です。
今しばらくお待ちくださいませ。

* 特定のプログラムカウンタで SPC700/DSP の動作を停止：
  【構文】 `bp [ADDR]`
  【実装例】PC が 0x1234 に到達したとき停止： `bp #$1234`
  【パラメータ】[パラメータグループ3](https://dgrfactory.jp/spcplay/script700.html#script_param3) から選択

  * 備考
    * spccmd.exe の [ブレイクコマンド](https://dgrfactory.jp/spcplay/spccmd.html#options_breakpoint) における SPC_HALT＋DSP_PAUS

[2021-09-20 15:35] GodGnilda commented on #35
@dgrfactory 様
ご提案いただきました内容で、問題ございません。
引き続きよろしくお願いいたします。

[2021-09-20 15:35] GodGnilda commented on #34
@dgrfactory 様
ご提案いただきました内容で、問題ございません。
引き続きよろしくお願いいたします。

[2021-09-21 08:38] dgrfactory commented on #34
@GodGnilda さん
ご返信いただき、ありがとうございます。
下記リリースにて対応いたしました。 どうぞお試しください。
https://github.com/dgrfactory/spcplay/releases/tag/2.19.0.7471

[2021-09-21 08:39] dgrfactory commented on #35
@GodGnilda さん
ご返信いただき、ありがとうございます。
下記リリースにて対応いたしました。 どうぞお試しください。
https://github.com/dgrfactory/spcplay/releases/tag/2.19.0.7471

[2021-09-21 13:27] GodGnilda commented on #34
@dgrfactory 様
wi および wo コマンドを使用して僅かなコード量で高速に転送可能であることを確認いたしました。
お忙しいところ、ご対応頂き誠にありがとうございます。

[2021-09-21 13:33] GodGnilda commented on #35
@dgrfactory 様
bp コマンドを使用してブレークポイントを設定可能であることを確認いたしました。

- wi を使用するお行儀の悪いサウンドドライバ
![wi を使用して転送](https://user-images.githubusercontent.com/72546447/134179535-112bda25-bf30-42b5-9dee-13b2288666b5.png)

- wo 0 を使用して転送する普通のサウンドドライバ
![wo 0 を使用して転送](https://user-images.githubusercontent.com/72546447/134179739-e510271c-a400-433e-a25f-ddb1c4455f54.png)

お忙しいところ、ご対応頂き誠にありがとうございます。

[2021-09-21 15:11] dgrfactory commented on #34
@GodGnilda さん
早速、動作をご確認いただきましてありがとうございます。
本 issue はクローズいたします。
今後とも、どうぞよろしくお願いいたします。

[2021-09-21 15:11] #34 closed, assigned to dgrfactory

[2021-09-21 15:11] dgrfactory commented on #35
@GodGnilda さん
早速、動作をご確認いただきましてありがとうございます。
本 issue はクローズいたします。
今後とも、どうぞよろしくお願いいたします。

[2021-09-21 15:12] #35 closed, assigned to dgrfactory

[2021-10-05 23:00] BlinxTheWinx opened #36 "Rewinding and Fast Forwarding are kind of broken with Hudson's sound driver."
Games: http://gdri.smspower.org/wiki/index.php/Super_Famicom/Super_NES_Sound_Driver_List#SFX_SOUND_DRIVER_.28Hudson.29
The player either doesn't skip or skips more than 5 seconds.

[2021-10-05 23:31] dgrfactory commented on #36
Hi, @BlinxTheWinx
Thank you for reporting the issue.

~I tested with "Shin Momotarou Densetsu", "Super Bomberman 2", and "Super Bomberman 5" songs and it worked.
Could you please reply specifically about which game and track it occurred in?~

I was able to reproduce this problem.
This problem occurs because fast seeks do not emulate the DSP.
Please edit spcplay.ini as follows, fast seek is disable

[2021-10-06 11:15] dgrfactory commented on #36
Recent personal computers have become high-performance.
Therefore, the seek is fast enough without using fast seek.

I will change the fast seek default to OFF in the next version.
That would be more beneficial for many users, at this time.

Thanks!

[2021-10-10 12:59] dgrfactory commented on #36
https://github.com/dgrfactory/spcplay/releases/tag/2.19.0.7489

[2021-10-10 12:59] #36 closed, assigned to dgrfactory

[2021-10-28 17:08] KungFuFurby opened #37 "Failure to emulate echo buffer volume-related overflow effect from FIR coefficeints"
Once again, I am merely forwarding a playback difference report from the Discord servers that I am in, since I myself don't use the player because of a platform incompatibility.

This is related to #23, except instead of a playback failure, it is a failure to emulate an overflow effect (by wraparound, instead of clamping) in the echo buffer related to the FIR coefficients. An example SPC file stra

[2021-10-31 06:20] dgrfactory commented on #37
Hi, @KungFuFurby
Thank you for reporting the issue.

I was able to confirm the difference from the actual machine (SHVC-SOUND).

The SNES SPC700 Player internally processing DSP at 32 bit-float for better sound quality, however the SHVC at 16 bit-int.
Therefore, if a loud echo feedback is output, SPC700 Player outputs sound as it is, but the SHVC will crack noise because overflow occurs.

I am cur

[2021-11-08 08:00] dgrfactory commented on #37
I found this cause and fixed implementation, currently testing now.
A fixed version will be released soon.
Please wait a little longer.

[2021-11-10 15:02] dgrfactory commented on #37
Fixed in the following release:
https://github.com/dgrfactory/spcplay/releases/tag/2.19.0.7521

Note:
This fix has been found to reduce sound quality in just a few games. (I know this is right processing, but I like higher quality sound.)
Therefore, the flag must be ON for change the FIR filter behavior to the same as the actual device.

When "SNES Echo/FIR Method" flag in "Expansion Flags" settin

[2021-11-20 10:59] #37 closed, assigned to dgrfactory

[2021-11-23 20:15] brickblock369 opened #38 "Issues with transitions from decay to sustain"
In the emulators that I tested with, while the note is in the "decay" mode, if the ADSR's sustain value changes mid-note and its changed sustain value is higher (which causes less decay time), the decay time still has to decay to its _initial_ sustain value, despite the higher sustain value that causes less decay time.

However, in SPCPlay, when the sustain value gets higher mid-note while the not

[2021-11-24 03:34] dgrfactory commented on #38
Hi, @brickblock369
Thank you for reporting the issue.

I will investigate, so if you have an SPC file that occurred this bug, please attach it here or reply a link for download.

[2021-11-24 04:16] brickblock369 commented on #38
[Test SPCs.zip](https://github.com/dgrfactory/spcplay/files/7592688/Test.SPCs.zip)

By the way I've confirmed with someone that it happens on actual hardware too, via SD2SNES.

[2021-11-24 13:14] dgrfactory commented on #38
@brickblock369
I have confirmed this reported issue, and released a fixed version.
Please try it.
https://github.com/dgrfactory/spcplay/releases/tag/2.19.1.7537

[2021-11-24 17:50] brickblock369 commented on #38
Yes, that's how it works! Thanks!

[2021-11-24 23:40] #38 closed, assigned to dgrfactory

[2021-11-25 11:52] GodGnilda opened #39 "[APU.asm] EmuAPU で 2147483648 サイクル以上を指定すると負の値と判定され EmuSPC が実行できず、更に cycLeft が上書きされる。"
平素よりお世話になっております。

仕様では EmuAPU の len の型は u32 ですが、
https://github.com/dgrfactory/spcplay/blob/cd9d358703f1e160f454d7b208b101c6bccecff4/snesapu.dll/APU.asm#L488-L498
サンプル数の場合は 491 行、サイクル数の場合は 497 行の EAX + cycLeft で 2147483648 サイクル以上を指定しますと負の値と判定され、EmuSPC が実行されず
https://github.com/dgrfactory/spcplay/blob/cd9d358703f1e160f454d7b208b101c6bccecff4/snesapu.dll/APU.asm#L520-L521
更に 521 行で cycLeft が EAX + c

[2021-11-25 11:56] GodGnilda opened #40 "[spcplay.exe] 名前を付けて保存のダイアログでファイルの種類にかかわらず保存ファイル名に ファイル名.spc が設定される場合がある。"
ファイル保存時のファイルの選択ダイアログのファイル名には、最後に読み込んだ SPC ファイルのファイル名またはタイトルが保存するファイル名として設定されますが、タイトルが存在せず かつ ファイル名が短い(?)場合、ファイルの種類にかかわらず **ファイル名.spc** がファイル名として指定されるようです。

[2021-11-26 13:57] dgrfactory commented on #39
@GodGnilda さん
平素よりお世話になっております。
不具合のご報告をいただき、ありがとうございます。

こちらでも不具合を確認いたしました。
後続処理の EmuSPC の引数が s32 であるため、条件判定を変えただけでは動作しませんでしたので、
内部的に1秒ごとに区切ってエミュレーションする方式に変更いたします。

修正まで、いましばらくお待ちくださいませ。

[2021-11-26 14:00] dgrfactory commented on #40
@GodGnilda さん
平素よりお世話になっております。
不具合のご報告をいただき、ありがとうございます。

こちらでも不具合を確認いたしました。
タイトルがあればそれをファイル名として採用していましたが、そもそもファイル名に使用できない文字が入ることを想定していない実装となっておりました。
さまざまな考慮や変換を行うよりは、常に SPC ファイル名（拡張子除く）を初期値とするシンプルな仕様に変更いたします。

修正まで、いましばらくお待ちくださいませ。

[2021-11-26 23:58] dgrfactory commented on #39
@GodGnilda さん
以下リリースにおいて修正いたしました。
たいへんお手数ですが、ご確認いただきますようお願い申し上げます。
https://github.com/dgrfactory/spcplay/releases/tag/2.19.1.7539

[2021-11-26 23:58] dgrfactory commented on #40
@GodGnilda さん
以下リリースにおいて修正いたしました。
たいへんお手数ですが、ご確認いただきますようお願い申し上げます。
https://github.com/dgrfactory/spcplay/releases/tag/2.19.1.7539

[2021-11-27 11:43] GodGnilda commented on #39
@dgrfactory 様

最新版で 2147483648 サイクル以上を指定した場合でも EmuSPC が実行されることを確認いたしました。

![EmuAPU2147483648](https://user-images.githubusercontent.com/72546447/143679772-4eec5d07-d540-4ae0-acde-5fa889706873.png)

ご修正いただきありがとうございます。

[2021-11-27 11:44] GodGnilda commented on #40
@dgrfactory 様

最新版で保存ファイル名の初期値が SPC のファイル名であることを確認いたしました。
ご修正いただきありがとうございます。

[2021-11-27 15:15] dgrfactory commented on #39
ご確認いただき、ありがとうございます。
本件、クローズいたします。

[2021-11-27 15:15] #39 closed, assigned to dgrfactory

[2021-11-27 15:15] dgrfactory commented on #40
ご確認いただき、ありがとうございます。
本件、クローズいたします。

[2021-11-27 15:15] #40 closed, assigned to dgrfactory

[2022-03-25 20:20] dajinkosa opened #41 "[STUPID] On Linux using Wine build 7613 saving does not work"
This is a bit weird for one reason: I'm using Wine instead of running it natively on Windows. However, saving does work on previous versions (such as 2.19.1_7540) so I blame the program.

The exact problem: When trying to save to a .wav file the program gives me the error 252.

How to reproduce it:
1. Open an spc file.
2. Try to save a wav file.
3. Get the error 252.

I will test this on Windows a

[2022-03-25 20:58] dajinkosa commented on #41
Only happens on Linux.

[2022-03-25 20:58] #41 closed, assigned to nobody

[2022-03-29 14:11] livvy94 opened #42 "Request: New debug information layout"
Hello! I compose SNES music with AddMusicK and the EarthBound Music Editor, and I'd love there to be a new debug view, or possibly a seperate window launched from one of the menus, that looks like this:

[code]
To construct an instrument table in AddMusicK and EBMusEd, you need the ADSR and tuning data in this format - this kind of hexadecimal layout would make recreating this data in new musical

[2022-03-29 15:50] dgrfactory commented on #42
Hi, @vince94
Thank you for reporting the new request.

I have never used AddMusicK, so I am not sure if it is working correctly, but I implemented it as a trial.
https://github.com/dgrfactory/spcplay/releases/tag/2.19.2.7663

### To display `S#  ADSR/GAIN TUNING`

1. Click "Settings" -> "Information Viewer" -> "Channel 2".
2. Push F12 or Pause/Break key.
3. Play music.

Note: However, I do not kno

[2022-03-29 20:55] livvy94 commented on #42
Wow, that was fast!
I like that Tuning is displaying the same thing as Pitch, but here's what I had in mind. In most Nintendo-developed games (using the Kankichi-kun sound driver), the Tuning value is what usually defines what the base pitch/Middle C of an instrument should be. Here's some [documentation](https://github.com/vince94/EarthBound-Instrument-Packer/blob/master/Documentation.md#spc-tran

[2022-03-30 10:41] dgrfactory commented on #42
Hi, @vince94

Thank you for replying with a detailed case study.
As a test, I added an algorithm to search the TUNING parameter from the APU RAM and changed it to display.

Please try the new release version.
https://github.com/dgrfactory/spcplay/releases/tag/2.19.2.7664
The operating procedure is the same as in the previous version.
(Click "Settings" -> "Information Viewer" -> "Channel 2", and pu

[2022-03-30 18:45] livvy94 commented on #42
It seems to be working as expected! Thank you!
![image](https://user-images.githubusercontent.com/12562322/160908336-03a35783-d098-4e01-baca-db9be02dc941.png)

[2022-03-30 20:44] KungFuFurby commented on #42
You'd be surprised what that can work on as far as exact retrieval... in theory. You should try it on games that use either David Whittaker's sound driver or the H-Sound Engine, which are otherwise not N-SPC. The instrument format is N-SPC compatible minus noise support.

I documented them here:
https://sneslab.net/wiki/David_Whittaker_Sound_Engine
https://sneslab.net/wiki/H-Sound_Engine

On the o

[2022-03-31 09:44] dgrfactory commented on #42
The following patterns are supported -- just a little, in this released version (build 7664).

* `aa bb cc [dd/??] ee ff`
* `[aa] bb cc dd ee ff`

[code]

It is impossible to support all patterns, but if there is a pattern in high demand, I am likely to support.
For now, I will give this issue a "fixed" label.

[2022-03-31 14:01] KungFuFurby commented on #42
I'll agree with this because I think it's essentially the most common instrument type as a direct result of being based off of what is effectively the most common music player (yes, music player: the SFX programming can be wildly different from game to game, and even the music player itself can also get modified, though usually the instrument format is not affected at all).

The second-to-most com

[2022-04-01 12:09] GodGnilda opened #43 "[snesapu.dll] scr700lbl に保存される値ではスクリプト領域かデータ領域の判別ができないため予期しないアドレスにジャンプする可能性がある。"
平素よりお世話になっております。

スクリプト領域のラベルは
https://github.com/dgrfactory/spcplay/blob/71fe12b35c2738be06191ac85f13cb9c01a98a54/snesapu.dll/APU.asm#L1105-L1114
データ領域のラベルは
https://github.com/dgrfactory/spcplay/blob/71fe12b35c2738be06191ac85f13cb9c01a98a54/snesapu.dll/APU.asm#L2044-L2054
で、それぞれの領域の先頭からの相対アドレスが保存されますが、どちらの領域のラベルか判別不能なため、(意図せずに)データ領域のラベルを使用してジャンプ可能です。

[動作検証スクリプト](https://github.com/GodGnilda/Scri

[2022-04-02 08:16] dgrfactory commented on #43
@GodGnilda さん
お世話になっております。
いつも詳細なご連絡をいただき、ありがとうございます。

こちらでも不具合を確認し、修正版をリリースいたしました。
たいへんお手数ですが、ご確認いただきますようお願い申し上げます。
https://github.com/dgrfactory/spcplay/releases/tag/2.19.2.7666

`bxx` のジャンプ系命令においてデータラベルを指定した場合、改善後はジャンプ動作は行われず（`NOP` と同様に無視され）次の命令が実行されます。
添付いただいたテスト用 .700 で、どちらも `e` が実行され `Ptr=00003` で停止することを確認いたしました。

[2022-04-02 10:56] GodGnilda commented on #43
@dgrfactory 様
ジャンプ系命令においてデータラベルを指定した場合に実行されず(SP の値が変化せず)、Ptr の値が $00003 で終了することを確認いたしました。
お忙しいところ、ご対応頂き誠にありがとうございます。

- 20220401_02.700 実行終了時
![20220402](https://user-images.githubusercontent.com/72546447/161380038-f81ecc27-9284-4731-8a74-44f8dc8816e3.png)

[2022-04-11 14:24] #42 closed, assigned to dgrfactory

[2022-04-11 14:24] #43 closed, assigned to dgrfactory

[2022-04-13 00:18] BlinxTheWinx opened #44 "SPCs from old Super Mario World hacks started breaking on v2.19.0"
Example SPCs: https://www.mediafire.com/file/ug5ixjk7u0usq9g/Old_hacks%2527_SPCs.7z/file

[2022-04-13 00:27] dgrfactory commented on #44
Hi, @BlinxTheWinx
Thank you for reporting the issue.

I tried to play all attached SPC files on the actual device (SHVC-SOUND Unit), but sound is broken as well.
Perhaps, sequence or BRR data is encroaching on echo memory, therefore these data are being broken during playback.

Please read the following FAQ: "My homebrew SPC is not playing properly."
https://github.com/dgrfactory/spcplay/wiki/FAQ#

[2022-04-30 05:11] Pinci19 opened #45 "Option for GAIN/ADSR to be synchronized with the "Speed" control."
Hi! I compose and arrange SNES music and it would be great if there was an option for the envelopes (GAIN/ADSR) to be synchronized with the speed controls, this would be super useful for debugging fast or subtle GAIN changes in a song.

[2022-05-01 04:16] dgrfactory commented on #45
Hi, @Pinci19
Thank you for reporting the new request.

I added "Synchronize Envelope with Speed" option in the "Expansion Flags" settings.
Please download and try the new version to see if it suits your purposes.
https://github.com/dgrfactory/spcplay/releases/tag/2.19.3.7695

[2022-05-01 06:08] Pinci19 commented on #45
This is exactly what I wanted, thank you!

[2022-05-01 08:33] dgrfactory commented on #45
I have fixed a bug that when the playing speed is extremely slow, the envelope update interval also slows down.
https://github.com/dgrfactory/spcplay/releases/tag/2.19.3.7696

[2022-05-13 16:13] monkey03297 opened #46 "Make Old Hexadecimal Numbers Font Can be Choose To Use By User"
Some people may prefer the old fonts, so I suggest to make it can be config by user.
Maybe the setting can be in spcplay.ini?

[2022-05-14 01:06] dgrfactory commented on #46
Hi, @monkey03297
Thank you for reporting the new request.

I added "BMPFONT" settings in the SPCPLAY.INI file.
`BMPFONT  0 : 0` ... Latest font
`BMPFONT  0 : 1` ... Same fonts as v2.19.1 or older

"BMPFONT" is available in build 7707 or later versions.
This is added to SPCPLAY.INI after SPCPLAY.EXE is running and closed once, so change to your liking.
https://github.com/dgrfactory/spcplay/releases

[2022-05-14 09:48] monkey03297 commented on #46
Thank you for add this settings!

[2022-06-03 01:47] monkey03297 opened #47 "A option to not ignore silent in the first seconds in wav output"
I am making a oscilloscope view video,
so it is nice to have a option that will not ignore silent in the first seconds in wav output.

[2022-06-03 02:22] dgrfactory commented on #47
Hi, @monkey03297
Thank you for reporting.

Perhaps, the option you want is already exists.
Please try, open SPCPLAY.INI and change value of WAVBLANK to -1.

[code]

[2022-06-07 14:57] ghost opened #48 "Feature Request: Option to save SPC as wav file"
It would be really nice if there was an option to save SPC files as wav files

[2022-06-07 14:58] ghost commented on #48
Sorry i didn't see the option in file save

[2022-06-07 14:58] #48 closed, assigned to nobody

[2022-06-25 11:02] monkey03297 commented on #47
Thank you for reply!

Change WAVBLANK to -1 is workinh for me.

I think this issue can be close.

[2022-06-25 11:02] #47 closed, assigned to nobody

[2022-07-01 16:14] #45 closed, assigned to dgrfactory

[2022-07-01 16:14] #46 closed, assigned to dgrfactory

[2022-07-14 08:54] Ghettoblaster81 opened #49 "Exporting separate channels timing issue"
When i export separate channels, it seems the timing is off.

For instance: Secret of the Forest from Chrono Trigger. When you export channel 1, 2, 3 and 4 separately and merge them back together (in my DAW), the arpeggiator notes are locked on the same grid instead of doing the 4-step arpeggiator. See image attached.

It seems they all start at the exact same beat instead of having the small offs

[2022-07-14 13:22] dgrfactory commented on #49
Hi, @Ghettoblaster81
Thank you for reporting.

Your report seems to duplicate the content of the following issue.
Please refer to the following issue to see if the problem can be resolved.
See also: https://github.com/dgrfactory/spcplay/issues/47

[2022-07-14 13:50] Ghettoblaster81 commented on #49
That was the solution! Thank you so much!

[2022-07-14 13:52] #49 closed, assigned to nobody

[2022-07-14 13:54] #44 closed, assigned to nobody

[2022-07-27 14:59] #7 closed, assigned to dgrfactory

[2022-08-05 11:49] dakrk commented on #49
With the amount of people reporting this, ideally this should be added as a setting in the GUI

[2022-08-05 12:15] dakrk opened #50 "Exporting separate channels using spccmd"
Having to manually click to mute and unmute each channel, and then saving with a different file name to export each channel as its own file can be annoying, so preferably there should be a way in spccmd to easily specify which channels should be played when exporting to WAV with the `-cw` option.
Then to output all channels as it's own file, you could just do a `for /L` from 1 to 8 in CMD.

[2022-08-07 01:06] dgrfactory commented on #50
Hi, @dakrk
Thank you for reporting the new request.

https://github.com/dgrfactory/spcplay/releases/tag/2.19.4.7792
The `-sm` option to switch the channel to be muted separately and the `-gm` option to retrieve the current mute setting have been added to spccmd.
By using the `-sm` option immediately before the `-cw` option, it would be possible to output only the sound of the desired channel.

`-s

[2022-08-07 20:46] dakrk commented on #50
It works, thank you!

[2022-08-07 20:46] #50 closed, assigned to dgrfactory

[2022-08-13 17:31] dajinkosa opened #51 "SPCPlay triggers several antiviruses in VirusTotal"
Apologies for not using Japanese, but watashi do not speak nihongu

Ever since version 2.19.2 (mostly because i am lazy and did not test versions before that) the spcplay zip archive / individual exe components trigger at least 1 antivirus in virustotal, if they provide detail it's usually a trojan.

Example scans:
2.19.2 zip - https://www.virustotal.com/gui/file/a7885ac661c9105f322275175af9de9570

[2022-08-13 22:53] dgrfactory commented on #51
Hi, @ADM228
Thank you for reporting.

I know that VirusTotal detects something that looks like malware.
My player is built with delphi, and some anti-virus software seems to judge it as malware just because it is built with delphi.

I scan with well-known anti-virus software such as Microsoft Defender, ESET, and more, but these software do not detect.
In the past, I have sent files to Microsoft to

[2022-09-01 00:19] Pinci19 opened #52 "Possible Echo/DSP bug or inacuraccy?"
Hello, this is something I noticed a long time ago: I have a SPC that constantly updates the FIR Filter along some other echo parameters, and at one point, the echo in the kick drum channel is disabled so that it isn't affected by the FIR Filter any further, however, bsnes and many other emulators and players still output the first kick note with echo even after I disabled it, whereas SPCplay does

[2022-09-01 14:34] dgrfactory commented on #52
Hi, @Pinci19
Thank you for reporting the issue.

I played the attached SPC on the actual device (SHVC-SOUND), only the first key-on of drum (ch.7) at 00:08 was echoed, as you indicated.
Therefore, this appears to be a bug in SNESAPU.

Interestingly, when the playing speed was set to 110%, a drum was echoed.
Perhaps, it is due to a very slight difference in processing timing.

[2022-09-04 11:05] dgrfactory commented on #52
Hi, @Pinci19
I have identified some memory handling bugs in echo processing,  and released a fixed version.
https://github.com/dgrfactory/spcplay/releases/tag/2.19.4.7818

Note, if the playing speed is changed to anything other than 100%, the echo may not be applied, as it will not behave the same as on the actual device.
This is because changing the playing speed intentionally changes the SPC700

[2022-09-05 00:38] Pinci19 commented on #52
Awesome! Thank you!

[2022-10-05 13:44] #52 closed, assigned to dgrfactory

[2022-10-21 23:21] LittleEndu opened #53 "Allow seeking when in `Play Time -> Disable/Endless` mode"
There should be a seek bar even when in endless mode, the play head should just jump between the start and limit point when looping.

[2022-10-25 10:01] dgrfactory commented on #53
Hi, @LittleEndu
Thank you for reporting the new request.

In the following version, the seek bar is available in endless mode too.
https://github.com/dgrfactory/spcplay/releases/tag/2.19.5.7871

[2022-11-03 20:51] LittleEndu opened #54 "It is possible to save as wave while in `Play Time -> Disable/Endless`"
When you try to save as wave when playtime is set to endless, the player freezes.

(I'm using the beta if that's relevant)

[2022-11-04 09:53] dgrfactory commented on #54
Hi, @LittleEndu
Thank you for reporting the issue.

This issue occurred in v2.19.5.7871 and there was a careless mistake, so I released a fixed version.
https://github.com/dgrfactory/spcplay/releases/tag/2.19.5.7878

[2022-11-06 18:17] GhbSmwc opened #55 "Feature request - Piano roll viewer"
I was thinking of this visualizer to be added:
![image](https://user-images.githubusercontent.com/13095760/200187997-cbd13186-b8ae-4677-bcc9-68a52ec6a235.png)
While the music may be a tracker format and does not know the notes in advance like a midi file, it at least knows the notes currently being played. This is why notes that have been played are displayed as a "rain" (named after miditrail) on

[2022-11-07 03:57] dgrfactory commented on #55
Hi, @GhbSmwc
Thank you for reporting the new request.

The SNES SPC700 Player pursues a **"simple and compact design"** as described in [the "Features" section of the Wiki page](https://github.com/dgrfactory/spcplay/wiki#features).
Therefore, there are no plans to support flashy visualizers in the future.

There are already some SPC players that can display keyboard, as far as I know, "Kuroneko SP

[2022-11-07 22:17] GhbSmwc commented on #55
I've tested that (as a side note, not sure if they're open source or proprietary, given all the data isn't standalone into a single exe):
![image](https://user-images.githubusercontent.com/13095760/200427023-15f4c451-3583-4353-a58f-4473c684bfe9.png)

This is somewhat close to what bsnes plus does, only displays the currently played key on the sound viewer.

[2022-11-08 00:19] dgrfactory commented on #55
I understand your request, but it is a far from the "simple and compact" characteristic of this player.
I think it would be a shorter way to submit requests to other products that already have the keyboard display implemented.